* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}


.row {
    width: 100%;
    padding: 1em;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    padding: 1em;
    margin: 0 auto;
    /*border: solid 1px; black;*/
    /*background-color: darkgray;*/

}

.one-half {
    width: 50%;

}
.one-third {
    width: 33.33%;

}
.one-fourth {
    width: 25%;

}

.one-sixth {
    width: 16.66%;
}

.one-eighth {
    width: 12.5%;
}

.two-third {
    width: 66.66%;
}
.three-eighth {
    width: 37.5%;
}
.two-fourth {
    50%;
}
.three-sixth {
    50%;
}

.five-eighth{
    50%;
}

.offset-three-eighth {
    margin-left: 30px;
    margin-top: 0;

}
.offset-one-eighth {
    margin-left: 25px;
}

/*#social-media-links {*/
      /*width: 25px;*/
      /*height: 25px;*/
  /*}*/

@media screen and (max-width: 768px) {

    .column.one-fourth,
    .column.one-third,
    .column.one-half,
    .column.one-sixth, .column.one-eighth{
        width: 100%;
    }


    }