body{
    background-color: gray;
    padding: 50px;
}
h1{
    color: green;
}

.wrapper{
    width: 65%;
    height: auto;
    background-color: white;
    border: solid 1px #000;
    position: absolute;
    margin: 10%;
}

main{
    width: 65%;
    height: 600px;
    background-color: beige ;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
}


aside{
    width: 30%;
    height: 600px;
    background-color: darkseagreen ;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}


ul, li a{
    text-align: center;
    display: block;
    color: #000;
    margin: 20px;
    padding: 5px;
    list-style: none;
}

.content{
    width: 80%;
    margin: 10px;
    padding: 5px;
    text-align: justify;

}

.footmain {
    text-align: left;
    color: brown;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    position: relative;
    bottom: -60px;


}
.footaside {
    text-align: center;
    color: brown;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    position: relative;
    bottom: -110px;
}



/*@media screen and (min-width:1200px) {*/
    /*aside, main {*/
        /*width: 100%;*/
    /*}*/
/*}*/
/*@media screen and (min-width:768px) {*/
    /*aside, main{*/
        /*width: 50%;*/
    /*}*/
/*}*/