.card-tittle {
    background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+1,cccccc+99,cccccc+100&1+1,0.21+100 */
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 1%, rgba(204,204,204,0.22) 99%, rgba(204,204,204,0.21) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 1%,rgba(204,204,204,0.22) 99%,rgba(204,204,204,0.21) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(238,238,238,1) 1%,rgba(204,204,204,0.22) 99%,rgba(204,204,204,0.21) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#36cccccc',GradientType=0 ); /* IE6-9 */;
}