.box{
    width: 50px;
    height: 50px;
    padding: 10px;
    border: solid 1px #000;
    margin: 50px;
    position:relative;
    float: left;
    color: #fff;
    font-weight: bold;
}
#red {
    background-color: red;

}
#orange {
    background-color: orange;

}
#yellow {
    background-color: yellow;

}
#green {
    background-color: green;
}
#blue{
    background-color: blue;

}
#purple{
    background-color: violet;

}
.image{
    position: relative;
    top: -105px;
    left: 40px;
}

h1{
    margin-bottom: 70px;
}
.corner{
    float: right;
}
.box:nth-child(5), .box:nth-child(7){
    clear: left;
}
